services:
  grazindafranco:
    build: .
    restart: unless-stopped
    expose:
      - "3000"
    environment:
      - NODE_ENV=production
      - VIRTUAL_HOST=grazindafranco.com,www.grazindafranco.com
      - VIRTUAL_PORT=3000
      - LETSENCRYPT_HOST=grazindafranco.com,www.grazindafranco.com
      - LETSENCRYPT_EMAIL=kyryl@bogach.es
    env_file:
      - .env.local
    networks:
      - nginx-proxy

networks:
  nginx-proxy:
    external: true
